.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.register .infos{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-right: 40px;
}

.register .infos .image {
    margin-right: 50px;
}


.register .infos .itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 50px;
}

.register .infos .itens img {
    margin-bottom: 15px;
}

.register .infos .itens span {
    margin: 0 0 10px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    align-self: start;
}
.register .infos .itens input {
    margin-bottom: 20px;
}

.register .infos .itens select {
    margin-bottom: 20px;
}


.register .infos .itens button {
    width: 358px;
}




@media (max-width: 1024px) {

    .register {
        width: 100%;
    }
    
    .infos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
        width: 100%;
    }

  .register .infos .itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
    .register .infos .itens button {
        width: 100%;
    }

    .register .infos .itens h4 {
        font-size: 20px;
        margin: 30px 0 20px 0;
    }

    .register .infos .itens img {
        width: 100%;
      
    }

    .register .infos .image img {
        display: none;
    }

    .register .infos .itens input {
    margin-bottom: 20px;
}



    @media (max-width: 900px) {
        .register .infos{
    
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 10px 0;
            width: 100%;
        }

        .register .infos .itens{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 70px;
            width: 100%;
        }
  
    
        .register .infos .itens h4 {
            font-size: 20px;
            margin: 20px 0 20px 0;
        }
    
        .register .infos .itens img {
           width: 100%;
        }

    
        @media (max-width: 800px)
    {
        .register .infos{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 50px;
        }
    
      .register .infos .itens{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 70px;
        width: 100%;
    }
    
    .register .infos .itens img{
        width: 100%;
    }
    
    .register .infos .itens h4 {
        font-size: 20px;
        margin: 30px 0 20px 0;
    }
    }
    
      }
  }



