.dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.dashboard .infos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}


.dashboard .infos .image {
    padding: 20px;

}

.dashboard .infos .itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    width: 50%;
}

.dashboard .infos .itens .saudation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.dashboard .infos .itens .saudation p {
    margin-right: 100px;
}


.dashboard .infos .itens button {
    margin-bottom: 40px;
}
.buttons-table {
    padding-top: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.button-table {
    background-color: #fff;
    color:none;
    width: 24px;
    height: 1px;
  }

  .button-table svg {
      color: var(--Secondary);
  }

.dashboard .infos .itens .schedules{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

  .dashboard .infos .itens .schedules table {
    margin-top: 20px;
    text-align: center;
    width: 100%;
    color: var(--Secondary);
    font-size: 16px;
    font-family: "Metropolis", sans-serif;
    line-height: 24px;
    
    }
  
.dashboard .infos .itens h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

.dashboard .infos .itens .disponible {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 10px;
}

.dashboard .infos .itens .disponible h5 {
    font-size: 18px;
    margin: 5px 0 2px 0;
}

.inputs-class {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 5px 0 15px 0;
    width: 80%;
}

.inputs-class span {
    margin-left: 20px;
}

.inputs-class input{
    margin: 5px 0;
}

.inputs-class select{
    margin: 5px 0;
}

.inputs-desable {
    display: none;
}

@media (max-width: 900px)
{
    .dashboard .infos .image {
    display: none;
  }

  .dashboard .infos .itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    width: 100%;
}
}