
.Login{
    
    justify-content: center;
    
margin: auto;
    flex: 1;
    width: 554px;
}

.Login .Logo{   
    
    
    height: 108px;
    
    margin-top: 147px;
    
    background: #C4C4C4;
    
    
}

.Login .Password{
    font-family: Roboto; 
    margin-top: 82px;
    font-size: 18px;
    width: fit-content;
    justify-content: left;
}

.Login .InputPassword{
    font-family: Roboto; 
    width: 554px;
    height: 77px;
    margin-top: 14px;
}

.Login .Button{
    font-family: Roboto; 
    width: 554px;
    height: 82px;
    font-size: 24px;
    margin-top: 39px;
    
    background: #000000;
    color: #FFFFFF;
}

.Login .Logo2{   
    
    
    height: 69px;
    
    margin-top: 225px;
    
    background: #C4C4C4;
    
    
}