.login{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.login .infos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 70px;
    margin-bottom: 50px;
}



.login .infos .itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

.login .infos .itens img {
    margin-bottom: 30px;
}

.login .infos .itens span {
    margin: 0 0 10px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    align-self: start;
}

.login .infos .itens input {
    margin-bottom: 20px;
}

.login .infos .itens button {
    width: 358px;
}



@media (max-width: 1024px) {
    .login {
        width: 100%;
    }
    .login .infos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

  .login .infos .itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
    .login .infos .itens button {
        width: 100%;
    }

    .login .infos .itens h4 {
        font-size: 20px;
        margin: 30px 0 20px 0;
    }

    .login .infos .itens img{
        width: 100%;
    }

    .login .infos .image  {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .login .infos .image img {
        display: none;
    }

    .login .infos .itens input {
    margin-bottom: 20px;
}



    @media (max-width: 900px) {
        .login .infos{
    
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        .login .infos .itens{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 30px 70px;
            width: 100%;
        }
    

    
        .login .infos .itens h4 {
            font-size: 20px;
            margin: 20px 0 20px 0;
        }
    
        .login .infos .itens img {
            width: 100%;
          
        }

    
        @media (max-width: 800px)
    {
        .login .infos{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
    
      .login .infos .itens{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 70px;
        width: 100%;
    }
    
    .login .infos .itens img{
        width: 100%;
    }

    .login .infos .image  {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .login .infos .image img {
        width: 70%;
    }
    
    .login .infos .itens h4 {
        font-size: 20px;
        margin: 30px 0 20px 0;
    }


    }
    
      }
  }


