.home{
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.home .infos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.home .infos img {
    width: 100%;
}



.home .infos .itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.home .infos .itens img {
    width: 90%;
}

.home .infos .itens h4 {
    margin: 5px 0 60px 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
}

.home .infos .itens button {
    width: 100%;
}






  @media (max-width: 1024px) {
    .home {
        width: 100%;
    }
    .home .infos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
        width: 100%;
    }

  .home .infos .itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 100%;
}
   

    .home .infos .itens h4 {
        font-size: 20px;
        margin: 30px 0 20px 0;
    }

    .home .infos .itens img {
        width: 60%;
      
    }
    .home .infos .image {
        display: none;
       
    }


    @media (max-width: 900px) {
        .home .infos{
    
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 10px 0;
            width: 100%;
        }
    
      
    
        .home .infos .itens h4 {
            font-size: 20px;
            margin: 20px 0 20px 0;
        }
    
        .home .infos .itens img {
            width: 60%;
          
        }
        .home .infos .image {
            width: 60%;
           
        }
    
        @media (max-width: 800px)
    {
        .home .infos{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 50px;
        }
    
      .home .infos .itens{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
        width: 100%;
    }
    
    .home .infos .itens img{
        width: 100%;
    }
    
    .home .infos .itens h4 {
        font-size: 20px;
        margin: 30px 0 20px 0;
    }
    }
    
      }
  }
