.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.home .infos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.home .infos .image {
  padding: 20px;
}



.home .infos .itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.home .infos .itens h4 {
    margin: 5px 0 60px 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
}

.home .infos .itens button {
    width: 100%;
}
