.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.home .infos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.home .infos .image {
   margin-right: 50px;
}

.home .infos .image img {
    align-items: center;
    margin-right: 50px;
}


.home .infos .itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    padding: 15px;
}

.home .infos .itens img {
    margin-bottom: 30px;
}

.home .infos .itens span {
    text-align: left;
    margin: 0 0 10px -160px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}
.home .infos .itens .text {
    width: 358px;
    background-color: var(--LightGray);
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    padding: 10px;
    margin-bottom: 20px;

}
.home .infos .itens input {
    margin-bottom: 20px;
}

.home .infos .itens button {
    width: 358px;
}

.home .footer {
    margin-top: 100px;
}