.code-security{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.code-security .infos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.code-security .infos .image {
    padding: 20px;
}


.code-security .infos .itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 70px;
}

.code-security .infos .itens img {
    margin-bottom: 30px;
}

.code-security .infos .itens span {
    margin: 0 0 10px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    align-self: start;
}
.code-security .infos .itens .text {
    width: 358px;
    background-color: var(--LightGray);
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    padding: 10px;
    margin-bottom: 20px;

}
.code-security .infos .itens input {
    margin-bottom: 20px;
}

.code-security .infos .itens button {
    width: 358px;
}


@media (max-width: 1024px) {
    .code-security {
        width: 100%;
    }
    .code-security .infos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

  .code-security .infos .itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
    .code-security .infos .itens button {
        width: 100%;
    }

    .code-security .infos .itens h4 {
        font-size: 20px;
        margin: 30px 0 20px 0;
    }

    .code-security .infos .itens img{
        width: 100%;
    }

    .code-security .infos .image  {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .code-security .infos .image img {
        display: none;
    }

    .code-security .infos .itens input {
    margin-bottom: 20px;
}



    @media (max-width: 900px) {
        .code-security .infos{
    
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        .code-security .infos .itens{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 30px 70px;
            width: 100%;
        }
    

    
        .code-security .infos .itens h4 {
            font-size: 20px;
            margin: 20px 0 20px 0;
        }
    
        .code-security .infos .itens img {
            width: 60%;
          
        }

    
        @media (max-width: 800px)
    {
        .code-security .infos{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
    
      .code-security .infos .itens{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 70px;
        width: 100%;
    }
    
    .code-security .infos .itens img{
        width: 100%;
    }

    .code-security .infos .image  {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .code-security .infos .image img {
        width: 70%;
    }
    
    .code-security .infos .itens h4 {
        font-size: 20px;
        margin: 30px 0 20px 0;
    }


    }
    
      }
  }
