.editeditScheduling{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.editScheduling .infos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.editScheduling .infos .itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 30px;
    width: 50%;
}

.editScheduling .infos .itens span {
    margin: 0 0 10px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    align-self: start;
}
.editScheduling .infos .itens input {
    margin-bottom: 20px;
}

.editScheduling .infos .itens select {
    margin-bottom: 20px;
}

.editScheduling .infos .itens .saudation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
}

.editScheduling .infos .itens .saudation p {
    margin-right: 120px;
}

.editScheduling .infos .itens .saudation svg {
    color: var(--Secondary);
}


.editScheduling .infos .itens button {
    margin: 10px 5px;
    width: 167px;
}

.editScheduling .infos .itens .text {
    width: 358px;
    background-color: var(--LightGray);
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    padding: 10px;
    margin-bottom: 20px;

}

.editScheduling .infos .itens .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.editScheduling .infos .itens .schedules{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.editScheduling .infos .itens h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}


@media (max-width: 900px)
{
    .editScheduling .infos .image {
    display: none;
  }

  .editScheduling .infos .itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    width: 100%;
}
}